# Don't ever commit your settings
config.py

# Python remenants
*.pyc
*.pyo

# Standard locations of data and server temporary files
data/
!data/acrobat/
work/
x

# Others
sudo apt-get install git
graphviz-2.40.1.tar.gz
graphviz-2.40.1/
install